.transactonView{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.transactionHistoryTable{
    width: 100%;

}
.transactionTableCell{
    width: 100%;
}

.transactionTableCellData{
    background-color: white;
    min-width: 150px;
}

.transactionTableCellDataHeader{
    background-color: aqua;
    height: 50px;
   padding: px;
}
.isSideBarShow{
    font-size: 30px;
    height: 100%;
}

@media  (max-width:767px){ 
    .isSideBarShow{
       display: none;
    }
}